<section>
  <div class="container mt-4">
    <div class="row">
      <div class="col-md-6">
        <h2 class="text-center">Add Product</h2>
        <form
          action="/admin/add-products"
          enctype="multipart/form-data"
          method="post"
        >
          <div class="mb-3">
            <label for="" class="form-control">Name</label>
            <input type="text" name="name" class="form-control" required />
          </div>
          <div class="mb-3">
            <label for="" class="form-control">Category</label>
            <input type="text" class="form-control" name="category" required />
          </div>
          <div class="mb-3">
            <label for="" class="form-control">Price</label>
            <input type="number" class="form-control" name="price" required />
          </div>
          <div class="mb-3">
            <label for="" class="form-control">Description</label>
            <input type="text" class="form-control" name="description" required />
          </div>
          <div class="mb-3">
            <label for="" class="form-control">Image</label>
            <img src="" class="rounded m-3" style="width: 100px;height: auto;opacity: 0;" alt="" id="viewImg">
            <input type="file" accept="image/*" name="image" class="form-control" onchange={imageView()} required />
          </div>
          <button type="submit" class="btn btn-primary mt-5">add</button>
        </form>
      </div>
    </div>
  </div>
</section>
<script>
  function imageView(){
    document.getElementById('viewImg').src=URL.createObjectURL(event.target.files[0])
    document.getElementById('viewImg').style.opacity=1
  }
</script>