<section class="pt-5" >
    <div class="container">
    <div class="row">
        <div class="col-md-6 m-auto">
            <h2 class="text-center" >Login </h2>
            <form action="/admin/login" method="post">
            {{#if loginErr}}
                <p class="error text-danger">{{loginErr}}</p>
            {{/if}}
                <label for="username" class="form-label mt-4">Username</label>
                <input type="text" class="form-control" name="username" id="username" required >
                <label for="password" class="form-label mt-4">Password</label>
                <input type="password" class="form-control" name="password" id="password" required>
                    <input type="Submit" class="btn btn-success mt-3 float-end" style="width: 100px;" value="Login">
                </div>
            </form>
        </div>
    </div>
    </div>
</section>