<section>
  <h1 class="mt-5 text-center">Sorry this page isn't available</h1>
  <h3 class="text-center mt-3">Go back to home
    <br />
    <a href="/" class="btn btn-primary mt-3" style="width: 100px;">Home</a></h3>
</section>