<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="https://i.pinimg.com/originals/db/89/2a/db892a2da4432b56cd2b099cb180681d.jpg">
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />

    <title>{{title}}</title>
  </head>
  <body>

    <section>
      <div class="container mt-5">

        <div class="row">
          {{#each products}}
            <div class="col-md 3" style="height: 100px;" >
              <div class="card" style="width: 15rem;">
                <img src="https://www.reliancedigital.in/medias/Apple-iPhone-13-Smartphone-491997700-i-1-1200Wx1200H-300Wx300H?context=bWFzdGVyfGltYWdlc3w1Njg2fGltYWdlL2pwZWd8aW1hZ2VzL2hkZC9oODgvOTYzNDYwNjcxMDgxNC5qcGd8MjQzYTU2M2YzMmUyYTZkNzUxOGM4MzU2NDA2ZjVmZmMzMWUzN2QyMmMzZDkyMTcyOGQ4OGRkYmI2ZTdlNDRiZQ" class="card-img-top" alt="" />
                <div class="card-body">
                  <h5 class="card-title">{{this.name}}</h5>
                  <p class="card-text">{{this.description}}</p>
                  <a href="#" class="btn btn-primary">Add to cart</a>
                </div>
              </div>
            </div>
          {{/each}}
        </div>
      </div>
    </section>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
  </body>
</html>