
  <section>
  <div class="container mt-5">

    <div class="row">
      {{#each products}}
      <div class="col-md-3 p-5">
        <div class="cart">
          <img src="/{{this.item}}.jpg" alt="{{this.item}}" class="rounded">
          <div class="cart-body">
            <h5 class="cart-title">{{this.product.name}}</h5>
            <p class="cart-text">Quatity: {{this.quantity}}</p>
          </div>
        </div>   
      </div>
      {{/each}}
    </div>
  </div>
</section>

<script>

</script>