<section>
    <div class="container mt-5">
        <h3>Choose a jpg Image</h3>
        <form action="/set-profile-picture" method="post" enctype="multipart/form-data" class="col-md-6">
        <input type="file" accept="image/*" class="form-control mt-3" name="image" required >
        <button type="submit" class="btn btn-primary mt-3" >Edit Profile Picture</button>
        </form>
    </div>
</section>